@model Tp4MvcNuevo.ViewModels.HacerPedidoViewModel;
@{
    ViewData["Title"] = "Home Page";
}
                                                                                                                                                                        
<div class="text-center">
    <h1 class="display-4">Actualizar Pedido</h1>
</div>
<form asp-controller="Pedidos" asp-action="PedidoActualizado" method="POST" class="w-50">
    <h2>Datos Pedido</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Obs</span>
        <input asp-for="@Model.Obs" type="text" class="form-control" placeholder="Obs" value="@Model.Obs">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Estado Pedido</span>
        <input asp-for="@Model.Estado" type="text" class="form-control" placeholder="Estado" value="@Model.Estado">
    </div>
    <h2 class="mt-3">Nombre Cliente</h2>
    <select class="form-select mt-1" name="idCliente1">
        @foreach (var cliente in Model.ListaClientes1) {
            <option value="@cliente.Id">@cliente.Nombre</option>
        }
    </select>
    <h2 class="mt-3">Nombre Cadete</h2>
    <select class="form-select mt-1" name="idCadete1">
        @foreach (var cadete in Model.ListaCadetes1) {
            <option value="@cadete.Id">@cadete.Nombre</option>
        }
    </select>
    <input asp-for="@Model.Numero" type="hidden" value="@Model.Numero">
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>