@model Tp4MvcNuevo.ViewModels.HacerPedidoViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hacer Pedidos</h1>
</div>
<form asp-controller="Pedidos" asp-action="PedidoAgregado" method="POST" class="w-50 mx-auto">
    <h2>Datos Pedido</h2>
    <span asp-validation-for="@Model.Obs" class="text-danger"></span>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file-signature"></i></span>
        <input class="form-control" type="text" asp-for="@Model.Obs" placeholder="Obs">
    </div>
    <span asp-validation-for="@Model.Estado" class="text-danger"></span>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-clipboard"></i></span>
        <input class="form-control" type="text" asp-for="@Model.Estado" placeholder="Estado">
    </div>
    <h3 class="mt-3">Nombre Cliente</h3>
    <span asp-validation-for="@Model.idCliente1" class="text-danger"></span>
    <select class="form-select mt-1" asp-for="@Model.idCliente1">
        @foreach (var cliente in Model.ListaClientes1) {
            <option value="@cliente.Id">@cliente.Nombre</option>
        }
    </select>
    <h3 class="mt-3">Nombre Cadete</h3>
    <span asp-validation-for="@Model.idCadete1" class="text-danger"></span>
    <select class="form-select mt-1" asp-for="@Model.idCadete1">
        @foreach (var cadete in Model.ListaCadetes1) {
            <option value="@cadete.Id">@cadete.Nombre</option>
        }
    </select>
    <button type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>