@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model Tp4MvcNuevo.ViewModels.ListarPedidosViewModels;
@{
    ViewData["Title"] = "Home Page";
    var Rol = HttpContextAccessor.HttpContext.Session.GetInt32("Rol");
}

<div class="text-center titulo-listar">
    <h1 class="display-4">Pedidos</h1>
    <a  asp-controller="Pedidos" asp-action="ListarPedidos"> Refrescar </a>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col"> Numero de Pedido </th>
            <th scope="col"> Obs </th>
            <th scope="col"> Estado </th>
            <th scope="col"> Cliente </th>
            <th scope="col"> Cadete </th>
            <th scope="col"> <i class="fa-solid fa-eye"></i> </th>
            @if (Rol == 1 || Rol == 2) {
                <th scope="col"> Modificar </th>
                <th scope="col"> <i class="fa-solid fa-trash ms-4"></i></th>
            }
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model.pedidos)
            {
            <tr>
                <td scope="row"> @item.Numero </td>
                <td> @item.Obs </td>
                <td> @item.Estado</td>
                @if (item.idCliente1 == 0) {
                    <td> - </td>
                } else {
                    <td> @Html.ActionLink(@item.getNombreCliente(item.idCliente1), "MostrarCliente", "Clientes", new {id = item.idCliente1})</td>
                }
                @if (item.idCadete1 == 0) {
                    <td> - </td>
                } else {
                    <td> @Html.ActionLink(@item.getNombreCadete(item.idCadete1), "MostrarCadete", "Cadetes", new {id = item.idCadete1})</td>
                }
                <td> @Html.ActionLink("Ver", "MostrarPedido", "Pedidos", new {id = item.Numero})</td>
                @if (Rol == 1 || Rol == 2) {
                    <td> @Html.ActionLink("Actualizar", "ActualizarPedido", "Pedidos", new {id = item.Numero})</td>
                    <td><a class="btn btn-danger btn-sm" href="/Pedidos/EliminarPedido?id=@item.Numero">Eliminar</a></td>
                }
            </tr>    
            }
    </tbody>
    
</table>

@if (Rol == 1) {
    <div class="text-center">
        <h5><a asp-controller="Pedidos" asp-action="HacerPedido">--> Cargar pedidos nuevos</a></h5>
    </div>
}