@model Tp4MvcNuevo.ViewModels.ListarCadeteriasViewModel;

<div class="text-center">
    <h1 class="display-4">Cadeterías</h1>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Teléfono </th>
            <th scope="col" colspan="3"> Acciones </th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model.ListaCadeterias1)
            {
            <tr>
                <td scope="row"> @item.Id </td>
                <td> @item.Nombre </td>
                <td> @item.Telefono</td>
                <td> @Html.ActionLink("Ver", "MostrarCadeteria", "Cadeterias", new {id = item.Id})</td>
                <td> @Html.ActionLink("Eliminar", "EliminarCadeteria", "Cadeterias", new {id = item.Id})</td>
                <td> @Html.ActionLink("Actualizar", "ActualizarCadeteria", "Cadeterias", new {id = item.Id})</td>
            </tr>    
            }

            <a  asp-controller="Cadeterias" asp-action="ListarCadeterias"> Refrescar </a>
    </tbody>
    
</table>