@model Tp4MvcNuevo.Models.Cadete;
@{
    ViewData["Title"] = "Home Page";
}
                                                                                                                                                                        
<div class="text-center">
    <h1 class="display-4">Cargar Cadete</h1>
</div>
<form asp-controller="Cadetes" asp-action="CadeteActualizado" method="POST" class="w-50 mx-auto">
    <h2>Datos Cadete:</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input asp-for="@Model.Nombre" type="text" class="form-control" placeholder="Nombre" value="@Model.Nombre">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Dirección</span>
        <input type="text" class="form-control" placeholder="Dirección" aria-label="Dirección" aria-describedby="basic-addon1" name="direccion" value="@Model.Direccion">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Teléfono</span>
        <input type="text" class="form-control" placeholder="Teléfono" aria-label="Teléfono" aria-describedby="basic-addon1" name="telefono" value="@Model.Telefono">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Cadeteria</span>
        <input type="text" class="form-control" placeholder="Cadeteria" aria-label="Cadeteria" aria-describedby="basic-addon1" name="cadeteria" value="@Model.Cadeteria">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Sueldo</span>
        <input type="text" class="form-control" placeholder="Sueldo" aria-label="Sueldo" aria-describedby="basic-addon1" name="sueldo" value="@Model.TotalACobrar1">
    </div>
    <input type="hidden" name="id" value="@Model.Id">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>