@model Tp4MvcNuevo.ViewModels.ListaCadetesViewModel;

<div class="text-center">
    <h1 class="display-4">Listar Cadetes</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Dirección </th>
            <th scope="col"> Teléfono </th>
            <th scope="col"> Sueldo </th>
            <th scope="col" rowspan="2"> Acciones </th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model.ListaCadetes1)
            {
            <tr>
                <td scope="row"> @item.Id </td>
                <td> @item.Nombre </td>
                <td> @item.Direccion</td>
                <td> @item.Telefono</td>
                <td> @item.TotalACobrar1</td>
                <td> @Html.ActionLink("Eliminar", "EliminarCadete", "Cadetes", new {id = item.Id})</td>
                <td> @Html.ActionLink("Actualizar", "ActualizarCadete", "Cadetes", new {id = item.Id})</td>
            </tr>    
            }

            <a  asp-controller="Cadetes" asp-action="ListarCadetes"> Refrescar </a>
    </tbody>
    
</table>