@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model Tp4MvcNuevo.ViewModels.ListarClientesViewModel;

@{
    var Rol = HttpContextAccessor.HttpContext.Session.GetInt32("Rol");
    ViewData["Title"] = "Listado de clientes";
}

<div class="text-center titulo-listar">
    <h1 class="display-4">Clientes</h1>
    <a  asp-controller="Clientes" asp-action="ListarClientes"> Refrescar </a>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col"> ID </th>
            <th scope="col"> Nombre </th>
            <th scope="col"> Dirección </th>
            <th scope="col"> Teléfono </th>
            <th scope="col"> Referencia Dirección </th>
            <th scope="col"> <i class="fa-solid fa-eye"></i> </th>
            @if (Rol == 1) {
                <th scope="col" colspan="2"> Acciones </th>
            }
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model.ListaClientes1)
            {
            <tr>
                <td scope="row"> @item.Id </td>
                <td> @item.Nombre </td>
                <td> @item.Direccion</td>
                <td> @item.Telefono</td>
                <td> @item.ReferenciasDireccion</td>
                <td> @Html.ActionLink("Ver", "MostrarCliente", "Clientes", new {id = item.Id})</td>
                @if (Rol == 1) {
                    <td> @Html.ActionLink("Eliminar", "EliminarCliente", "Clientes", new {id = item.Id})</td>
                    <td> @Html.ActionLink("Actualizar", "ActualizarCliente", "Clientes", new {id = item.Id})</td>
                }
            </tr>    
            }
    </tbody>
    
</table>

@if (Rol == 1) {
    <div class="text-center">
        <h5><a asp-controller="Clientes" asp-action="CargarClientes">--> Cargar clientes nuevos</a></h5>
    </div>
}